*.sdf
*.opensdf
*.suo
Builds/
nocheatz.VC.db
*.opendb
UpgradeLog.htm
*.vspx
*.diagsession
*.obj
*.tlog
*.pdb
server-plugin/nocheatzX.map
*.log
*.vsp
Performance1.psess
*.vsps
server-plugin/version.h
server-plugin/Code/version.cpp
*.iobj
*.ipdb
.vs/